Source: cropgui
Section: graphics
Priority: optional
Maintainer: Jeff Epler <jepler@unpythonic.net>
Build-Depends: debhelper (>=9), dh-python, python3
Standards-Version: 3.9.8
Homepage: https://github.com/jepler/cropgui

Package: cropgui
Depends: ${python3:Depends}, python3-pil, python3-gi, libjpeg-turbo-progs | libjpeg-progs, libimage-exiftool-perl, imagemagick
Section: graphics
Architecture: all
Description: A GTK GUI for lossless JPEG cropping
